<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>commodities {{total}}</ion-title>
    <ion-button slot="end" (click)="reset()"><ion-icon name="refresh-circle-outline"></ion-icon></ion-button>
    <ion-button slot="end" (click)="showReceipt()"><ion-icon name="receipt-outline"></ion-icon></ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let commodity of commodities">
      <ion-col (click)="addTotal(commodity[0])">
        <div>
          <img src="{{commodity[0].img}}" alt="{{commodity[0].name}}">
          <ion-badge color="primary">{{commodity[0].amount}}</ion-badge>
        </div>
      </ion-col>
      <ion-col (click)="addTotal(commodity[1])">
        <div>
          <img src="{{commodity[1].img}}" alt="{{commodity[1].name}}">
          <ion-badge color="{{cekAmount(commodity[1])}}">{{commodity[1].amount}}</ion-badge>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
